@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply a dark base palette */
html {
  color-scheme: dark;
}

body {
  @apply bg-primary text-gray-100 min-h-screen antialiased;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-light rounded-md;
}